.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border-radius: 20px 20px 0 0;
  background-color: white;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}

.backgroundImage {
  width: 100%;
  height: 100%;
}

.avatarWrapper {
  position: absolute;
  bottom: -55px;
  left: 24px;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.avatar {
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nameWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-size: 25px;
  font-weight: 500;
}

.textOfProgress {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: rgb(141, 141, 141);
}

.progressWrapper {
  padding: 0 24px;
  margin-top: 79px;
}
